# routers:
# -   name: <Router Name>       # must be unique
#     ip: 1.2.3.4               # router management IP
#     snmp_read: sclbot         # SNMP Community READ
#     snmp_write: sclbot        # SNMP Community WRITE
#     ssh_username: ...         # SSH Username
#     ssh_password: ...         # SSH Password
#     enable_password: ...      # router enable password

routers:

-   name: Example
    ip: 1.2.3.4
    snmp_read: sclbot
    snmp_write: sclbot
    ssh_username: sclbot
    ssh_password: sclbot
    enable_password: sclbot

